* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    background-color: #111;
}
nav {
    margin: 16px 8px;
    background-color: grey;
    border-radius: 5;
    padding: 16px;
}
nav a {
    text-decoration: none;
    padding: 16px;
}

nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    padding: .5 rem;
}